
.container {
  width: 20%;
  padding: 0.2em;
}

.container.list-v {
  flex: 1 1 20%;
}

.container.list-h {
  flex: 1 1 100%;
}

.container.list-h .thumnail {
  width: 30%;
}


.video {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid #c0c0c0;
  cursor: pointer;
  transition: transform 250ms ease-in;
  transition: all 0.2s ease-in;
}

.video:hover {
  transform: scale(1.01);
  box-shadow: 3px 3px 5px 0 rgba(191, 191, 191, 0.53);
}

.thumnail {width: 100%;}

.metadata {
  text-align: left;
  padding: 1em;
  display: flex;
}

.metadata .channelImg {
  flex: 0 0 36px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
}

.metadata .channelImg img {
  width: 36px;
  height: 36px;
}

.title, .channel {
  margin: 0;
  font-size: 0.925rem;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all; /* 영문은 단어별로, 한글은 철자별로 끊어지는게 기본값이라 변경이 필요함 */
}

.channel {
  font-size: 0.7em;
  color: #c0c0c0;
}

.channelTitle {
  font-size: 11px;
  color: #777;
}


.search>a {
  width: 75%;
  margin: auto;
  display: block;
}
